<a href="https://colab.research.google.com/github/dempseyt23/IST-210/blob/master/Project3IST210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
connectionToDatabase = sqlite3.connect('PennStateFootball')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''drop table IF EXISTS Stadium''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS Stadium (StadiumID text PRIMARY KEY, Home text, Closed text, Name text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Stadium values ('01', 'Penn State', '0', 'Beaver Stadium' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Stadium values ('02', 'Ohio State', '0', 'Horseshoe Stadium' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Stadium values ('03', 'University of Alabama', '0', 'Bryant-Denny Stadium' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Stadium values ('04', 'Michigan State', '0', 'Spartan Stadium' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Stadium values ('05', 'Iowa State', '0', 'Jack Trice Stadium' );''')
connectionToDatabase.commit()

In [6]:
cursor.execute('''select * from Stadium limit 5''')
for row in cursor.fetchall():
  print (row)

('01', 'Penn State', '0', 'Beaver Stadium')
('02', 'Ohio State', '0', 'Horseshoe Stadium')
('03', 'University of Alabama', '0', 'Bryant-Denny Stadium')
('04', 'Michigan State', '0', 'Spartan Stadium')
('05', 'Iowa State', '0', 'Jack Trice Stadium')

In [0]:
cursor.execute('''drop table IF EXISTS Opponent''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS Opponent (OpponentID text PRIMARY KEY, Team text, Conference text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Opponent values ('01', 'Rutgers University', 'BIG TEN' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Opponent values ('02', 'Ohio State', 'BIG TEN' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Opponent values ('03', 'University of Alabama', 'NCAA South Eastern' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Opponent values ('04', 'Michigan State', 'BIG TEN' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Opponent values ('05', 'Iowa State', 'BIG TEN' );''')
connectionToDatabase.commit()

In [9]:
cursor.execute('''select * from Opponent limit 5''')
for row in cursor.fetchall():
  print (row)

('01', 'Rutgers University', 'BIG TEN')
('02', 'Ohio State', 'BIG TEN')
('03', 'University of Alabama', 'NCAA South Eastern')
('04', 'Michigan State', 'BIG TEN')
('05', 'Iowa State', 'BIG TEN')

In [0]:
cursor.execute('''drop table IF EXISTS 'Ticket Information' ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS 'Ticket Information' (TicketInformationID text PRIMARY KEY, Start integer, Home text, Away text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into 'Ticket Information' values ('01', '1900', 'Penn State' , 'Rutgers University' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Ticket Information' values ('02', '1400', 'Penn State' , 'Ohio State' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Ticket Information' values ('03', '1300', 'Penn State' , 'University of Alabama' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Ticket Information' values ('04', '1900', 'Penn State' , 'Michigan State' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Ticket Information' values ('05', '1200', 'Penn State' , 'Iowa State' );''')
connectionToDatabase.commit()

In [12]:
cursor.execute('''select * from 'Ticket Information' limit 5''')
for row in cursor.fetchall():
  print (row)

('01', 1900, 'Penn State', 'Rutgers University')
('02', 1400, 'Penn State', 'Ohio State')
('03', 1300, 'Penn State', 'University of Alabama')
('04', 1900, 'Penn State', 'Michigan State')
('05', 1200, 'Penn State', 'Iowa State')

In [0]:
cursor.execute('''drop table IF EXISTS Purchaser ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS Purchaser (PurchaserID text PRIMARY KEY, TicketsID text, 'First Name' text, 'Last Name' text, Quantity integer)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into 'Purchaser' values ('001', '05', 'Trent', 'Dempsey', '2' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Purchaser' values ('002', '04', 'Tyler', 'Wyllie', '5' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Purchaser' values ('003', '03', 'Ryan', 'Johnson', '3' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Purchaser' values ('004', '02', 'Katie', 'Oldziejewski', '7' );''')
connectionToDatabase.commit()
cursor.execute('''insert into 'Purchaser' values ('005', '01', 'Stevie', 'Principe', '4' );''')
connectionToDatabase.commit()

In [19]:
cursor.execute('''select * from Purchaser limit 5''')
for row in cursor.fetchall():
  print (row)

('001', '05', 'Trent', 'Dempsey', 2)
('002', '04', 'Tyler', 'Wyllie', 5)
('003', '03', 'Ryan', 'Johnson', 3)
('004', '02', 'Katie', 'Oldziejewski', 7)
('005', '01', 'Stevie', 'Principe', 4)

In [20]:
#What were the top three customers that purchased the most tickets?

cursor.execute('''SELECT * FROM Purchaser ORDER BY Quantity DESC LIMIT 3''')
for row in cursor.fetchall():
  print(row)

#This question is important because we will be able to see who is buying a lot of tickets, 
#and because of the PurchaserID number we will be able to see if this person is buying tickets consistently.  
#This will help decide if Penn State Football should contact this person about possibly purchasing season tickets.  
#The results did match our expectation as we selected all the information and had the list ordered by the most tickets purchased in descending order with only the top 3 showing.

('004', '02', 'Katie', 'Oldziejewski', 7)
('002', '04', 'Tyler', 'Wyllie', 5)
('005', '01', 'Stevie', 'Principe', 4)

In [21]:
#What is the earliest kickoff time?

cursor.execute('''SELECT * FROM 'Ticket Information' ORDER BY Start LIMIT 1''')
for row in cursor.fetchall():
  print(row)

#This question is important because it will allow Penn State Football to focus on the attendance for this game, and who we are facing.  
#It is important to focus on this game because usually games that are played earlier in the day are against teams that are not competitive, and attendance is usually lower.  
#Knowing what game has the earliest kick off time will allow the program to focus on that game to see if they bring in less fans.  
#The results matched our expectation as the result showed us the earliest game in the table.

('05', 1200, 'Penn State', 'Iowa State')

In [22]:
#What are all the non-conference games?

cursor.execute('''SELECT * FROM Opponent WHERE Conference != 'BIG TEN' ORDER BY Conference''')
for row in cursor.fetchall():
  print(row)

#This question is important because it also allows Penn State Football to know which games they should focus on for attendance.  
#Usually, conference games have a high attendance because they have a big impact on whether Penn State goes to the Big Ten Championship, 
#but non-conference games can be overlooked by fans as the opponent is either not a rival or is usually not a competitive team for the Penn State football team.  
#By seeing non-conference games, the program can see which conference, other than the Big Ten, tends to bring in the larger crowds.  
#The results are what we expected as there is only one non-conference game in our table and that was the only result that was printed.

('03', 'University of Alabama', 'NCAA South Eastern')